<nav>
  <div class="inner">
    <span class="name">${name}</span>
  
    <h2>${subject}</h2>
  
    <p>${body}</p>
  
    <div class="items answersNav">
    </div>
  </div>
  
  <footer>
    <span data-name="answer">Answer Question</span>
  </footer>
</nav>

<div class="main answers scroll">
</div>