<nav>
  <span>${name}</span>
  
  <h2>${subject}</h2>
  
  <p>${body}</p>
  
  <div class="items answersNav">
  </div>
</nav>

<div class="main">
  <div class="answers">
  </div>
  <div class="create">
    <h3>Add an answer</h3>
    <form>
      <textarea></textarea>
      <button>Create</button>
    </form>
  </div>
</div>