<div class="close"></div>

<h2>New Question</h2>

<form>
  <input type="text" name="test" value="" placeholder="Subject">
  <textarea placeholder="Description"></textarea>
  <button>Create</button>
</form>